<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @activate.start %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @activate.stop %>
</p>

<%= link_to 'Edit', edit_activate_path(@activate) %> |
<%= link_to 'Back', activates_path %>
